.list-group-item a {
    color: white;
    text-decoration: none;
}

.wd-side-bar {
    background-color: black;
    width: 83px;
    text-align: center;
}

.wd-account-side-bar {
    width: 200px;
    margin-left: 20px;
}

li {
    padding:9px;
    list-style-type: none;
}

.list-group-item.active {
    background-color: white;
}

a {
    color: red;
    text-decoration: none;
    text-align: left;
}

h4 {
    padding-top:10px;
    padding-left:20px;
}

button {
    margin-top:7px;
    margin-right:7px;
}

.name-input {
    margin-right:40px;
}

.profile .fa-user {
    font-size: 100px;
    margin-bottom:8px;
}

.second-list-group-item.active {
    color: black;
    background-color: white;
    border-left: 2px solid black;
    margin-left: 9px;
}

.fa-user {
    font-size: 20px;
    margin-top: 10px;
}

.fa-solid {
    font-size: 20px;
    margin-top: 10px;
}

.fa-regular {
    font-size: 20px;
    margin-top: 10px;
}

p {
    margin-bottom:15px;
}

.second-list-group-item.active {
    color: black;
    background-color: white;
    border-left: 2px solid black;
    margin-left: 9px;
}

textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
}