.wd-side-bar {
    background-color: black;
    width: 83px;
    text-align: center;
}

.list-group-item a {
    color: white;
    text-decoration: none;
}

.list-group-item.active {
    background-color: white;
}

li {
    padding:9px;
    list-style-type: none;
}

.fa-user {
    font-size: 20px;
    margin-top: 10px;
}

.fa-solid {
    font-size: 20px;
    margin-top: 10px;
}

.fa-regular {
    font-size: 20px;
    margin-top: 10px;
}

