.list-group-item a {
    color: white;
    text-decoration: none;
}

.wd-side-bar {
    background-color: black;
    width: 83px;
    padding:10px;
    padding-left: 0px;
    text-align: center;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 10px;
}


.list-group-item.active {
    background-color: white;
}

.second-list-group-item a {
    color: red;
    text-decoration: none;
}

.second-list-group-item.active {
    color: black;
    background-color: white;
    border-left: 2px solid black;
}
