.add-button {
    margin-right: 10px;
}

.create-module {
    width: 560px;
}

.module-name {
    width: 350px;
}

.edit-input {
    margin-right: 20px;
}

.module-text-area {
    width: 350px;
    margin-top: 10px;
}

.breadcrumb-link {
    color: #ee3a3a;
    text-decoration: none;
}

.top-buttons {
    text-align: end;
}

.margin-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.md-dropdown {
    background-color: black;
    width: 100%;
}

.status {
    float:right;
    width:300px;
}

.with-check {
    border-left: 4px solid #00a80b;
    padding-left:50px;
}

.published {
    color: green;
}
.dropdown-black-background {
    background-color: black;
    outline: black;
}
.percentage{
    border:1px solid black;
    border-radius: 20px;
    padding:3px;
}

.kanbas-container {
    height: 100%;
    padding:0;
}

.wd-side-bar {
    background-color: black;
    text-align: center;
    width: 83px;
}

.list-group-item {
    color: white;
    text-decoration: none;
}

.list-group-item-secondary {
    color: black;
}

.list-group-item-description {
    background-color: white;
    padding-left: 30px;
}

.status-text {
    color:#ee3a3a;
    text-decoration: none;
}

.list-group-item .fa-user {
    color:grey;
}

.list-group-item .fa-n {
    font-size: 50px;
    padding:10px;
}

li {
    padding:9px;
    list-style-type: none;
}

.fa-user {
    font-size: 20px;
    margin-top: 10px;
}

.fa-solid {
    font-size: 20px;
    margin-top: 10px;
}

.fa-regular {
    font-size: 20px;
    margin-top: 10px;
}

.isActive {
    background-color: white;
    color: #ee3a3a;
}

.card-padding {
    padding-left: 0px;
    padding-right: 35px;
    margin-bottom: 30px;
}

.modules-info {
    width: 100%;
    padding-left:35px;
    padding-right:35px;
}

.card-size {
    width: 270px;
}

.page-title {
    padding-left:20px;
}

.padding {
    padding-left:30px;
}

.item-text {
    color: red;
    text-decoration: none;
    padding:9px;
}

.courseNavigationActive {
    color: black;
    background-color: white;
    border-left: 2px solid black;
}

.second-list-group-item a {
    color: black;
    text-decoration: none;
}

.margin-bottom-status {
    padding: 7px;
    margin-top: 5px;
    border: .3px solid black;
}

.status-left-padding {
    padding-left: 50px;
}

